#!/usr/bin/make -f

#export DH_VERBOSE=1

SHELL := /bin/bash
BUILDDIR := build
TARGET := debian/tmp

# libcec currently not linked in hyperion therefore not recognizable but hardcoded in FIND_DEPENDS
REQUIRED_DEPS := libusb libasound libmbedtls libturbojpeg libcec libpython3

# get qt version and set qt deps depending on version
QT6_PACKAGE_VERSION := $(shell dpkg-query -W -f '$${Version}' libqt6widgets6* 2>/dev/null || echo 0)
ifeq (ok,$(shell dpkg --compare-versions "$(QT6_PACKAGE_VERSION)" "ge" "6.0" && echo ok))
	QT_DEPS := qt6-qpa-plugins libqt6network6 libqt6widgets6 libqt6sql6 libqt6serialport6 libqt6sql6-sqlite libqt6websockets6
else
	QT_DEPS := libqt5network5 libqt5widgets5 libqt5x11extras5 libqt5sql5 libqt5serialport5 libqt5sql5-sqlite libqt5websockets5
endif

FIND_DEPENDS = $(shell \
	PACKAGES=(); \
	PACKAGES+=("$$(dpkg -S "libcec.so" 2>/dev/null | cut -d : -f 1 | sed '/-dev/d' | head -1)"); \
	for SHARED_LIB in $$(objdump -p $(BUILDDIR)/bin/hyperiond | awk '/NEEDED/{ print $$2 }'); do \
		PACKAGES+=("$$(dpkg -S $$(basename "$$SHARED_LIB") 2>/dev/null | cut -d : -f 1 | sed '/-dev/d' | head -1)"); \
	done; \
	RESULT=(); \
	for LIB in $(REQUIRED_DEPS); do \
		for i in "$${PACKAGES[@]}"; do \
			if [[ $$i = *"$$LIB"* ]]; then \
				RESULT+=("$$i"); \
				break; \
			fi; \
		done; \
	done; \
	for QT_DEP in $(QT_DEPS); do \
		RESULT+=("$$(dpkg -S $$(basename "$$QT_DEP") 2>/dev/null | cut -d : -f 1 | sed '/-dev/d' | head -1)"); \
	done; \
	printf '%s,' "$${RESULT[@]}" \
)

CMAKE_ENVIRONMENT := -DUSE_SYSTEM_MBEDTLS_LIBS=ON -DENABLE_DEPLOY_DEPENDENCIES=OFF -DCMAKE_BUILD_TYPE=Release

ifeq ($(shell dpkg-vendor --query Vendor),Ubuntu)
	ifneq ($(filter arm64 armhf,$(shell dpkg-architecture -qDEB_HOST_ARCH)),)
		CMAKE_ENVIRONMENT+= -DENABLE_DISPMANX=OFF -DENABLE_X11=ON -DENABLE_XCB=ON
	endif
endif

%:
	dh $@ --builddirectory=$(BUILDDIR) --destdir=$(TARGET) --buildsystem=cmake+ninja

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_ENVIRONMENT) -DFETCHCONTENT_FULLY_DISCONNECTED=OFF

override_dh_auto_build:
	ninja -C $(BUILDDIR)

override_dh_gencontrol:
	$(eval DETERMINED_DEPS=$(FIND_DEPENDS))
	dpkg-gencontrol -phyperion "-Vdist:Depends=$(DETERMINED_DEPS)"

override_dh_builddeb:
	dpkg-deb --build $(TARGET) ..

override_dh_auto_install:
	dh_auto_install
	rm -rf $(TARGET)/usr/include $(TARGET)/usr/lib $(TARGET)/usr/bin/flatc* $(TARGET)/usr/bin/protoc*

override_dh_install:
	mkdir -p $(TARGET)/DEBIAN
	cp -rf cmake/linux/package-scripts/* $(TARGET)/DEBIAN/

override_dh_fixperms:
	chmod -R 0775 $(TARGET)/DEBIAN
	chmod -R 0644 $(TARGET)/usr/share/hyperion
	find $(TARGET)/usr -type d -exec chmod 0755 {} \;

override_dh_strip:
	strip --verbose --strip-unneeded --remove-section=.comment --remove-section=.note $(TARGET)/usr/share/hyperion/bin/hyperion*

# skipped targets
override_dh_auto_test:
override_dh_installdocs:
override_dh_installchangelogs:
override_dh_systemd_enable:
override_dh_installinit:
override_dh_systemd_start:
override_dh_perl:
override_dh_link:
override_dh_strip_nondeterminism:
override_dh_compress:
override_dh_missing:
override_dh_makeshlibs:
override_dh_shlibdeps:
override_dh_installdeb:
override_dh_md5sums:
